* {
    font-family: "lato", sans-serif;
    font-weight: bold;
}

body {
    background: rgb(245, 245, 245);
    color: #333333;
    margin-top: 20px;
}

.container {
    display: block;
    width: 400px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}

 .buttonAdd {
  background-color: #1d2e1e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button {
  background-color: #18701d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
